nav {
  text-align: center;
  background-color: #795138;
  height: 100px;
  
}
h1{
  color:#e4dcd4;
}

body{
  background-color: #e4dcd4;
}
img{
    width: 40%;
    
}

button1{ 
   border-radius: 500px;
   width: 150px; height: 50px;
}